{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- head -->

    {% block titulo %}
        Agregar - Noticias
    {% endblock %}

<!-- body -->


                    


{% block contenido %}
{% if user.is_superuser %}
<div class="main-container" style = 'margin-left: 14%;margin-right: 13%;margin-top: 2%; text-align: justify;'>
    <h1>Crear Noticia</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form|crispy}}

        <input class="btn btn-primary" type="submit" value="Agregar Noticia" style = 'margin-top: 2%;'>

    </form>

</div>
{% else %}
    <h1>Usted no es administrador</h1>
{% endif %}
{% endblock %}