{% extends "base.html" %}
{% load static %}
<!--HEAD-->

{% block titulo %}
    Misión 
{% endblock %}
<!--BODY-->
{% block contenido %}
    <!-- Mision -->

    <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="{% static 'images/mision.jpg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 ml-auto">
              <center><h3 class="text-cursive mb-4" id="demotext3">
                MISIÓN
              </h3></center>
              <ul>
                <li>    
                  Fomentar el desarrollo de la educación, de la salud, y el bienestar social. 
                </li>
                <li>
                  Lograr el mejoramiento de la calidad de vida.
                </li>
                <li>
                  Estimular la participación cívica y solidaria.
                </li>
                <li>
                  Crear ámbitos de integración y recreación.
                </li>
                <li>
                  Promover la dignidad humana en toda su dimensión ética y cultural, 
                  particularmente la igualdad efectiva de oportunidades entre el hombre y la mujer 
                  y los derechos de la infancia. 
                </li>
              </ul> 
            </div>
          </div>
        </div>
      </div>
  
      <!-- Vision -->
      <!--<div class="site-section">--> 
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <center><h3 class="text-cursive mb-4" id="demotext3">
                VISIÓN
              </h3></center>
              <p>
                Actualmente la ONG trabaja en tres instalaciones propias, 
                en diferentes puntos de la localidad, a los que asisten 
                mayoritariamente niños de barriadas carenciadas.
              </p>
              <p>
                En este contexto los comedores se convierten en un espacio de contención en el que, 
                además de proporcionarles alimento, se les brinda esparcimiento, apoyo escolar, 
                actividades culturales y recreativas; afecto y atención.
              </p>
              <p>
                Allí niños son escuchados y contenidos.
              </p>
              <p>
                Queremos llegar a ser una ONG que sea destacada en la región por el acompañamiento 
                que brinda a la comunidad, el esfuerzo de quienes participamos y, 
                por el apoyo de quienes nos ayudan y acompañan.
              </p>
             </p>
             <p>
                Queremos llegar a ser una ONG que sea destacada en la región por el acompañamiento 
                que brinda a la comunidad, el esfuerzo de quienes participamos y, 
                por el apoyo de quienes nos ayudan y acompañan.
               </p>
            </div>
            <div class="col-md-5">
              <img src="{% static 'images/vision3.jpg' %}" alt="Image" class="img-fluid">
              <img src="{% static 'images/vision1.jpg' %}" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      <!--</div>--> 

      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <img src="{% static 'images/vision4.jpg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-3">
              <iframe 
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Foportunidadecambio&tabs=timeline&width=500&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" 
                class="facebook-iframe" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
              </iframe> 
          </div>
          </div>
        </div>
      </div>

{% endblock %}

